@import '../default/var-reset.scss';
@import '../default/message.scss';

main {
    min-height: 100vh;
    .profile-information-section {
        max-width: 1280px;
        margin: 0 auto;
        padding: 25px 15px;

        .profile-information-container {
            display: grid;
            gap: 15px;
            grid-template-columns: repeat(1, 1fr);

            .profile-information-content {
                background-color: $color-white;
                border: 1px solid $color-border;
                border-radius: 8px;

                .profile-content-header {
                    display: flex;
                    padding: 15px 15px;
                    font: bold 1rem $font-title;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    justify-content: space-between;
                    border-bottom: 1px solid $color-border;
                    .editButton {
                        color: $color-text-shade;
                        transition: all .25s;
                    } .editButton:hover {
                        color: $color-accent;
                    }
                }

                .profile-content-body {
                    display: grid;
                    padding: 20px 15px 0 15px;
                    font: bold 0.96rem $font-text;
                    letter-spacing: 1px;
                    color: $color-text;
                    .body-row {
                        display: grid;
                        .value {
                            margin: 15px 0 30px 0;
                            font: 0.93rem $font-subtext;
                            word-break: break-all;
                            color: $color-brand;
                        }
                        input {
                            width: 100%;
                            margin: 10px 0 15px 0;
                            padding: 8px 0 8px 5px;
                            font: 0.93rem $font-subtext;
                            letter-spacing: 1px;
                            background-color: #f3f3f32f;
                            border: 1px solid $color-border;
                            border-radius: 5px;
                            outline: none;
                            transition: all .4s;
                        } input:hover, input:focus {
                            border: 1px solid $color-accent;
                        }
                    }
                }
                .profile-content-footer {
                    padding: 0 15px 15px 15px;
                    text-align: right;
                    
                    .submitButton {
                        padding: 8px 8px;
                        font: 0.89rem $font-subtext;
                        letter-spacing: 1px;
                        background-color: $color-brand;
                        color: #fff;
                        border: none;
                        border-radius: 3px;
                        cursor: pointer;
                        transition: all .25s;
                    } .submitButton:hover {
                        background-color: $color-accent;
                    }            
                }
            }
        }
    }
}

@media (min-width: 475px) {
    main {
        min-height: 100vh;
        .profile-information-section {    
            .profile-information-container {
                .profile-information-content {
                    .profile-content-body {
                        #double {
                            gap: 0 15px;
                            grid-template-columns: repeat(2, 1fr); 
                        }
                        .body-row {
                            #alignment {
                                text-align: right;
                            }
                        }    
                    }
                }    
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        min-height: 100vh;
        .profile-information-section {    
            .profile-information-container {
                grid-template-columns: repeat(2, 1fr);
                .profile-information-content {
                    .profile-content-body {
                        #double {
                            grid-template-columns: repeat(1, 1fr);
                        }
                        .body-row {
                            #alignment {
                                text-align: left;
                            }
                        }    
                    }
                }    
            }
        }
    }
}

@media (min-width: 850px) {
    main {
        min-height: 100vh;
        .profile-information-section {    
            .profile-information-container {
                .profile-information-content {
                    .profile-content-body {
                        #double {
                            grid-template-columns: repeat(2, 1fr);
                        }
                        .body-row {
                            #alignment {
                                text-align: right;
                            }
                        }    
                    }
                }    
            }
        }
    }
}