@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100&family=Urbanist:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100&family=Urbanist:wght@200&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f6f6f6;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f6f6f6;
}

.message-box {
  width: 100%;
}

.message-box .message-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message-box .message-content .message {
  font: 1rem "Urbanist", sans-serif;
  letter-spacing: 1.5px;
  color: #fff;
}

.message-box .message-content .close-message {
  color: #fff;
}

.message-box .message-content .close-message:hover {
  cursor: pointer;
  color: #ebebeb;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

#failed {
  background-color: rgba(202, 9, 9, 0.925);
}

#success {
  background-color: #31c031e0;
}

main {
  min-height: 100vh;
}

main .profile-information-section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 15px;
}

main .profile-information-section .profile-information-container {
  width: 100%;
  padding: 0 10px;
  background-color: #fff;
  border: 0.5px solid #ececec;
  border-radius: 8px;
}

main .profile-information-section .profile-information-container .profile-information-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .profile-information-section .profile-information-container .profile-information-header .header-title {
  font: bold 1rem "Urbanist", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

main .profile-information-section .profile-information-container .profile-information-header .header-actions .actionButton {
  margin-left: 10px;
  font: bold 1rem;
  color: black;
}

main .profile-information-section .profile-information-container .profile-information-header .header-actions #cancel {
  font: 0.93rem "Urbanist", sans-serif;
  color: lightgray;
  border-bottom: 1px solid;
}

main .profile-information-section .profile-information-container .profile-information-header .header-actions #cancel:hover {
  color: black;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

main .profile-information-section .profile-information-container .profile-information-body {
  display: -ms-grid;
  display: grid;
  padding: 30px 0 20px 0;
}

main .profile-information-section .profile-information-container .profile-information-body .body-content {
  min-height: 200px;
}

main .profile-information-section .profile-information-container .profile-information-body .body-content .content-row {
  display: -ms-grid;
  display: grid;
}

main .profile-information-section .profile-information-container .profile-information-body .body-content .content-row .title {
  font: bold 0.93rem/35px "Roboto", sans-serif;
  letter-spacing: 1px;
}

main .profile-information-section .profile-information-container .profile-information-body .body-content .content-row .value {
  padding: 0 0 15px 0;
  font: 0.93rem/35px "Urbanist", sans-serif;
  letter-spacing: 1px;
}

main .profile-information-section .profile-information-container .profile-information-body .body-content .content-row .editInput {
  width: 100%;
  margin: 5px 0 20px 0;
  padding: 10px 0 10px 8px;
  font: 0.87rem "Roboto", sans-serif;
  letter-spacing: 1px;
  background-color: #f3f3f32f;
  color: black;
  border: 0.5px solid #ececec;
  border-radius: 5px;
  outline: none;
}

main .profile-information-section .profile-information-container .profile-information-body .body-content .content-row .editInput:hover {
  background-color: #f3f3f36b;
  border: 0.5px solid black;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

main .profile-information-section .profile-information-container .password {
  max-width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .profile-information-section .profile-information-container .password .body-content {
  width: 100%;
}

main .profile-information-section .profile-information-container .password .body-content .content-row {
  width: 100%;
}

main .profile-information-section .profile-information-container .password .body-content .content-row .editInput {
  width: 100%;
}

main .profile-information-section .profile-information-container .profile-information-footer {
  padding: 0 0 20px 0;
  text-align: right;
}

main .profile-information-section .profile-information-container .profile-information-footer .updateButton {
  padding: 8px 10px;
  font: 0.87rem "Roboto", sans-serif;
  letter-spacing: 1px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

main .profile-information-section .profile-information-container .profile-information-footer .updateButton:hover {
  background-color: grey;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media (min-width: 768px) {
  main .profile-information-section .profile-information-container .profile-information-body {
    gap: 25px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main .profile-information-section .profile-information-container .profile-information-body .body-content #half {
    gap: 25px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=profile.css.map */