@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100&family=Urbanist:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100&family=Urbanist:wght@200&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f6f6f6;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f6f6f6;
}

.message-box {
  width: 100%;
}

.message-box .message-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message-box .message-content .message {
  font: 1rem "Urbanist", sans-serif;
  letter-spacing: 1.5px;
  color: #fff;
}

.message-box .message-content .close-message {
  color: #fff;
}

.message-box .message-content .close-message:hover {
  cursor: pointer;
  color: #ebebeb;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

#failed {
  background-color: #ca0909ec;
}

#success {
  background-color: #31c031e0;
}

main {
  min-height: 100vh;
}

main .profile-information-section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 25px 15px;
}

main .profile-information-section .profile-information-container {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

main .profile-information-section .profile-information-container .profile-information-content {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 8px;
}

main .profile-information-section .profile-information-container .profile-information-content .profile-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px;
  font: bold 1rem "Italiana", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

main .profile-information-section .profile-information-container .profile-information-content .profile-content-header .editButton {
  color: #68686898;
  -webkit-transition: all .25s;
  transition: all .25s;
}

main .profile-information-section .profile-information-container .profile-information-content .profile-content-header .editButton:hover {
  color: #c5a282;
}

main .profile-information-section .profile-information-container .profile-information-content .profile-content-body {
  display: -ms-grid;
  display: grid;
  padding: 20px 15px 0 15px;
  font: bold 0.96rem "Urbanist", sans-serif;
  letter-spacing: 1px;
  color: #141414;
}

main .profile-information-section .profile-information-container .profile-information-content .profile-content-body .body-row {
  display: -ms-grid;
  display: grid;
}

main .profile-information-section .profile-information-container .profile-information-content .profile-content-body .body-row .value {
  margin: 15px 0 30px 0;
  font: 0.93rem "Roboto", sans-serif;
  word-break: break-all;
  color: #03061b;
}

main .profile-information-section .profile-information-container .profile-information-content .profile-content-body .body-row input {
  width: 100%;
  margin: 10px 0 15px 0;
  padding: 8px 0 8px 5px;
  font: 0.93rem "Roboto", sans-serif;
  letter-spacing: 1px;
  background-color: #f3f3f32f;
  border: 1px solid #ececec;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

main .profile-information-section .profile-information-container .profile-information-content .profile-content-body .body-row input:hover, main .profile-information-section .profile-information-container .profile-information-content .profile-content-body .body-row input:focus {
  border: 1px solid #c5a282;
}

main .profile-information-section .profile-information-container .profile-information-content .profile-content-footer {
  padding: 0 15px 15px 15px;
  text-align: right;
}

main .profile-information-section .profile-information-container .profile-information-content .profile-content-footer .submitButton {
  padding: 8px 8px;
  font: 0.89rem "Roboto", sans-serif;
  letter-spacing: 1px;
  background-color: #03061b;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all .25s;
  transition: all .25s;
}

main .profile-information-section .profile-information-container .profile-information-content .profile-content-footer .submitButton:hover {
  background-color: #c5a282;
}

@media (min-width: 475px) {
  main {
    min-height: 100vh;
  }
  main .profile-information-section .profile-information-container .profile-information-content .profile-content-body #double {
    gap: 0 15px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main .profile-information-section .profile-information-container .profile-information-content .profile-content-body .body-row #alignment {
    text-align: right;
  }
}

@media (min-width: 768px) {
  main {
    min-height: 100vh;
  }
  main .profile-information-section .profile-information-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main .profile-information-section .profile-information-container .profile-information-content .profile-content-body #double {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  main .profile-information-section .profile-information-container .profile-information-content .profile-content-body .body-row #alignment {
    text-align: left;
  }
}

@media (min-width: 850px) {
  main {
    min-height: 100vh;
  }
  main .profile-information-section .profile-information-container .profile-information-content .profile-content-body #double {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main .profile-information-section .profile-information-container .profile-information-content .profile-content-body .body-row #alignment {
    text-align: right;
  }
}
/*# sourceMappingURL=profile.css.map */