@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100&family=Urbanist:wght@200&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f6f6f6;
}

main {
  min-height: 100vh;
  background-color: white;
}

main .filter-results-section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 15px;
}

main .filter-results-section .filter-results-container {
  max-width: 1280px;
  margin: 0 auto;
}

main .filter-results-section .filter-results-container .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px 10px;
  font: 1.1rem "Roboto", sans-serif;
  letter-spacing: 1px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  color: black;
  border: 1px solid #ececec;
  outline: none;
  cursor: pointer;
}

main .filter-results-section .filter-results-container .filter span {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

main .filter-results-section .filter-results-container .active {
  background-color: black;
  color: white;
  border: 1px solid black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main .filter-results-section .filter-results-container .active span {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main .filter-results-section .filter-results-container .panel {
  max-height: 0;
  overflow: hidden;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

main .filter-results-section .filter-results-container .panel .filter-content {
  padding: 0 0 15px 0;
  max-height: 200px;
  overflow-y: scroll;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid {
  display: -ms-grid;
  display: grid;
  gap: 0;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject {
  width: 100%;
  font: 0.93rem "Urbanist", sans-serif;
  letter-spacing: 1px;
  color: black;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject .subject-header {
  width: 100%;
  padding: 0 0 0 10px;
  background-color: #ececec;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject .subject-header .subject {
  padding: 15px 0 15px 0;
  font-weight: bold;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject .subject-content {
  padding: 10px 0 25px 15px;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject .subject-content ul {
  list-style: none;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject .subject-content ul li {
  line-height: 25px;
  accent-color: black;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject .subject-content ul li:hover {
  color: lightgray;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

main .watch-results-section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px 150px 15px;
}

main .watch-results-section .watch-results-container {
  display: -ms-grid;
  display: grid;
  gap: 2rem 0;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

main .watch-results-section .watch-results-container .product-display {
  width: 100%;
  text-align: center;
  background-color: #f1f1f134;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

main .watch-results-section .watch-results-container .product-display .product-image {
  width: 100%;
  padding: 25px 0 0 0;
}

main .watch-results-section .watch-results-container .product-display .product-image img {
  width: 130px;
}

main .watch-results-section .watch-results-container .product-display .product-values {
  width: 100%;
  padding: 15px 10px 25px 10px;
}

main .watch-results-section .watch-results-container .product-display .product-values ul {
  list-style: none;
}

main .watch-results-section .watch-results-container .product-display .product-values ul #model-name {
  font: bold 1.2rem "Italiana", serif;
  letter-spacing: 1px;
  word-spacing: 100vw;
  color: black;
}

main .watch-results-section .watch-results-container .product-display .product-values ul #model-price {
  font: bold 0.9rem/35px "Roboto", sans-serif;
  letter-spacing: 1px;
  color: grey;
}

main .watch-results-section .watch-results-container .product-display:hover {
  background-color: #e0bc8c73;
  border: 1px solid #e0bc8c73;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 550px) {
  main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject {
    font: 0.97rem "Urbanist", sans-serif;
  }
  main .watch-results-section .watch-results-container {
    gap: 2rem 2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main .watch-results-section .watch-results-container .product-display .product-image img {
    width: 140px;
  }
}

@media (min-width: 850px) {
  main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject {
    font: 1.03rem "Urbanist", sans-serif;
  }
  main .watch-results-section .watch-results-container {
    gap: 2rem 2rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  main .watch-results-section .watch-results-container .product-display .product-image img {
    width: 150px;
  }
  main .watch-results-section .watch-results-container .product-display .product-values ul #model-name {
    font: bold 1.27rem "Italiana", serif;
  }
  main .watch-results-section .watch-results-container .product-display .product-values ul #model-price {
    font: bold 0.96rem/35px "Roboto", sans-serif;
  }
}

@media (min-width: 1100px) {
  main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=watches.css.map */