@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100&family=Urbanist:wght@200&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f6f6f6;
}

main {
  min-height: 100vh;
  background-color: white;
}

main .product-action-section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 15px 0 15px;
}

main .product-action-section .product-action-container {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 8px;
}

main .product-action-section .product-action-container .product-action-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px;
  font: bold 1rem "Italiana", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

main .product-action-section .product-action-container .product-action-header #insert {
  font: bold 0.93rem "Urbanist", sans-serif;
  text-transform: none;
  color: #68686898;
  -webkit-transition: all .25s;
  transition: all .25s;
}

main .product-action-section .product-action-container .product-action-header #insert:hover {
  color: #141414;
}

main .product-action-section .product-action-container .product-action-body {
  display: -ms-grid;
  display: grid;
  width: 100%;
  padding: 20px 15px 0 15px;
  font: bold 0.96rem "Urbanist", sans-serif;
  letter-spacing: 1px;
  color: #141414;
}

main .product-action-section .product-action-container .product-action-body .body-content .body-row {
  display: -ms-grid;
  display: grid;
}

main .product-action-section .product-action-container .product-action-body .body-content .body-row .value {
  margin: 15px 0 30px 0;
  font: 0.93rem "Roboto", sans-serif;
  word-break: break-all;
  color: #03061b;
}

main .product-action-section .product-action-container .product-action-body .body-content .body-row select, main .product-action-section .product-action-container .product-action-body .body-content .body-row input {
  width: 100%;
  margin: 10px 0 15px 0;
  padding: 8px 0 8px 5px;
  font: 0.93rem "Roboto", sans-serif;
  letter-spacing: 1px;
  background-color: #f3f3f32f;
  border: 1px solid #ececec;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

main .product-action-section .product-action-container .product-action-body .body-content .body-row select:hover, main .product-action-section .product-action-container .product-action-body .body-content .body-row select:focus,
main .product-action-section .product-action-container .product-action-body .body-content .body-row input:hover, main .product-action-section .product-action-container .product-action-body .body-content .body-row input:focus {
  border: 1px solid #c5a282;
}

main .product-action-section .product-action-container .product-action-footer {
  padding: 0 0 15px 0;
}

main .product-action-section .product-action-container .product-action-footer .submitButton {
  padding: 8px 8px;
  font: 0.89rem "Roboto", sans-serif;
  letter-spacing: 1px;
  background-color: #03061b;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all .25s;
  transition: all .25s;
}

main .product-action-section .product-action-container .product-action-footer .submitButton:hover {
  background-color: #c5a282;
}

main .filter-results-section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 15px 0 15px;
}

main .filter-results-section .filter-results-container {
  max-width: 1280px;
  margin: 0 auto;
}

main .filter-results-section .filter-results-container .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px 10px;
  font: 1.1rem "Roboto", sans-serif;
  letter-spacing: 1px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  color: black;
  border: 1px solid #ececec;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

main .filter-results-section .filter-results-container .filter span {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

main .filter-results-section .filter-results-container .active {
  background-color: #d8b69670;
  color: #141414;
  border: 1px solid #c5a282;
}

main .filter-results-section .filter-results-container .active span {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main .filter-results-section .filter-results-container .panel {
  max-height: 0;
  overflow: hidden;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-radius: 0 0 5px 5px;
  -webkit-transition: max-height 0.25s ease-out;
  transition: max-height 0.25s ease-out;
}

main .filter-results-section .filter-results-container .panel .filter-content {
  padding: 0 0 15px 0;
  max-height: 200px;
  overflow-y: scroll;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid {
  display: -ms-grid;
  display: grid;
  gap: 0;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject {
  width: 100%;
  font: 1rem "Roboto", sans-serif;
  letter-spacing: 1px;
  color: #03061b;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject .subject-header {
  width: 100%;
  padding: 0 0 0 10px;
  background-color: #ececec;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject .subject-header .subject {
  padding: 15px 0 15px 0;
  font-weight: bold;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject .subject-content {
  padding: 25px 15px 25px 15px;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject .subject-content ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject .subject-content ul .checkbox-grid .checkbox {
  width: 100%;
  min-height: 40px;
  position: relative;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject .subject-content ul .checkbox-grid .checkbox input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject .subject-content ul .checkbox-grid .checkbox .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  font: 0.97rem "Urbanist", sans-serif;
  background-color: white;
  border: 1px solid #ececec;
  border-radius: 5px;
  z-index: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

main .filter-results-section .filter-results-container .panel .filter-content .filter-content-grid .filter-subject .subject-content ul .checkbox-grid .checkbox input:checked ~ .box {
  background: #d8b69670;
  border: 1px solid #c5a282;
  color: black;
}

main .watch-results-section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 15px 50px 15px;
}

main .watch-results-section .watch-results-container {
  display: -ms-grid;
  display: grid;
  gap: 2rem 0;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

main .watch-results-section .watch-results-container .product-display {
  width: 100%;
  text-align: center;
  background-color: #f1f1f134;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

main .watch-results-section .watch-results-container .product-display .product-image {
  width: 100%;
  padding: 25px 0 0 0;
}

main .watch-results-section .watch-results-container .product-display .product-image img {
  width: 130px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

main .watch-results-section .watch-results-container .product-display .product-values {
  width: 100%;
  padding: 15px 10px 25px 10px;
}

main .watch-results-section .watch-results-container .product-display .product-values ul {
  list-style: none;
}

main .watch-results-section .watch-results-container .product-display .product-values ul #model-name {
  font: bold 1.2rem "Italiana", serif;
  letter-spacing: 1px;
  word-spacing: 100vw;
  color: black;
}

main .watch-results-section .watch-results-container .product-display .product-values ul #model-price {
  font: bold 0.9rem/35px "Roboto", sans-serif;
  letter-spacing: 1px;
  color: grey;
}

main .watch-results-section .watch-results-container .product-display:hover {
  background-color: #e0bc8c73;
  border: 1px solid #e0bc8c73;
}

main .watch-results-section .watch-results-container .product-display:hover .product-image img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

@media (min-width: 550px) {
  main .product-action-section .product-action-container .product-action-body .body-content #double {
    gap: 0 15px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main .watch-results-section .watch-results-container {
    gap: 2rem 2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main .watch-results-section .watch-results-container .product-display .product-image img {
    width: 140px;
  }
}

@media (min-width: 850px) {
  main .product-action-section .product-action-container .product-action-body {
    gap: 0 15px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main .product-action-section .product-action-container .product-action-body .body-content #double {
    display: -ms-grid;
    display: grid;
    gap: 0 15px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main .product-action-section .product-action-container .product-action-body .collection {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  main .watch-results-section .watch-results-container {
    gap: 2rem 2rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  main .watch-results-section .watch-results-container .product-display .product-image img {
    width: 150px;
  }
  main .watch-results-section .watch-results-container .product-display .product-values ul #model-name {
    font: bold 1.27rem "Italiana", serif;
  }
  main .watch-results-section .watch-results-container .product-display .product-values ul #model-price {
    font: bold 0.96rem/35px "Roboto", sans-serif;
  }
}

@media (min-width: 1100px) {
  main .watch-results-section .watch-results-container {
    gap: 2rem 2rem;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=watches.css.map */