@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100&family=Urbanist:wght@200&display=swap');
$font-title: 'Italiana', serif;
$font-text: 'Urbanist', sans-serif;
$font-subtext: 'Roboto', sans-serif;

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #f6f6f6;
}