@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100&family=Urbanist:wght@200&display=swap');
$font-title: 'Italiana', serif;
$font-text: 'Urbanist', sans-serif;
$font-subtext: 'Roboto', sans-serif;

$color-brand: #03061b;
$color-accent: #c5a282;
$color-white: #fff;
$color-text: #141414;
$color-text-shade: #68686898;
$color-border: #ececec;
$color-input: #f3f3f32f;

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #f6f6f6;
}